<h2>Qu'est ce que vous attendez pour ajouter votre propriété?</h2>

<%= link_to "New property", new_property_path %>



<table>
  <tr>
    <th>Type</th>
    <th>Price</th>
    <th>Living space</th>
    <th>Location</th>

  </tr>
  <% @properties.each do |property| %>
    <tr>
      <td><%= property.property_type %></td>
      <td><%= property.price %>MUR</td>
      <td><%= property.living_space %>m2</td>
      <td><%= property.location %></td>
      <td><%= link_to 'Show', property %></td>
      <%# Display first photo of property %>
      <% if property.photos.empty? %>
        <td>No photo</td>
      <% else %>
      <td><%= cl_image_tag(property.photos.first.key, :width => 150, :height => 100, :crop => :fill)%></td>
      <% end %>
    </tr>
  <% end %>
</table>
