<h2>Qu'est ce que vous attendez pour ajouter votre propriété?</h2>

<% @properties.each do |property| %>
  <h2><%= property.title %></h2>
  <h2><%= property.title %></h2>
  <h2><%= property.title %></h2>
  <h2><%= property.title %></h2>
  <h2><%= property.title %></h2>
<% end %>
