<div class="container-property">

  <div class="container-background-image">
    <div class="property-new-bar">
      <div id="title-property">What are you waiting for to add your own property?</div>
      <div>&#160&#160&#160</div>
      <div><%= link_to 'Add my Property', new_property_path, class:"search-button-info" %></div>
    </div>

    <div class="container-search-bar">
    <%= form_tag properties_path, class:"form-row", method: :get do %>
      <%= text_field_tag :type,
        params[:type],
        placeholder: "Find a property"
      %>
      <%= text_field_tag :city,
        params[:city],
        class:"",
        placeholder: " ðŸ“ Type a city"
      %>
      <%= submit_tag "Search", class: "search-button-info button-small" %>
    <% end %>
    </div>
  </div>

  <div class="property-cards-container">
    <div class="cards">
      <% @properties.each do |property| %>
        <div class="property-card">
          <%= cl_image_tag(property.photos.first.key, class:"property-cards-photos")%>
          <div class="property-card-text">
            <div class="property-card-type"><%= property.property_type %></div>
            <p><i class="fas fa-map-marker"> </i><%= property.address %></p>
            <p><i class="fas fa-coins"> </i> <%= property.price %> MUR</p>
            <%= link_to 'Show', property, class: "search-button-info"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
