<h1>Your Property</h1>

<h2><%= @property.property_type %> - <%= @property.price %> - <%= @property.location %></h2>
<p><%= @property.price %></p>
<p><%= @property.living_space %></p>
<p><%= @property.location %></p>
<br>
<%# show slots %>

<p><%= link_to 'New Slot', new_property_slot_path(@property)  %></p>
<table>
  <tr>
    <th>Date</th>
    <th>Edit</th>

  </tr>
  <% @slots.each do |slot| %>
    <tr>
      <td><%= slot.date %></td>
      <td><%= link_to 'Edit', edit_slot_path(slot) %></td>
      <td><%= link_to "BOOK VISIT", bookings_path(slot_id:slot.id), method: :post %>
  <% end %>
</table>
<br>
<%= link_to 'New', new_property_path %> |
<%= link_to 'Edit', edit_property_path %> |
<%= link_to 'Delete', @property,  method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', properties_path %>

<% if @message %>
<%= link_to 'See messages with this owner', property_chat_room_path(@property, @message.chat_room) %>
<% else %>
<%= link_to 'Send a message to the owner', property_chat_rooms_path(@property), method: :post %>
<% end %>
