<div class="main-carousel">
  <% @property.photos.each do |photo| %>
    <div class="carousel-cell">
      <%= cl_image_tag(photo.key, :width => 800, :height => 600, :crop => :fill, class:"d-block")%>
    </div>
  <% end %>
</div>
<div class="container-show">
  <div class="card-show">
    <h2><%= @property.property_type %> - <%= @property.price %> - <%= @property.address %></h2>
    <p class="fas fa-map-marker">  <%= @property.address %></p>
    <p class="far fa-square"> <%= @property.land_surface %> m2</p>
    <p class="fas fa-square"> <%= @property.living_space %> m2</p>
    <p><%= @property.bedrooms %> Bedrooms</p>
    <p><%= @property.bathroom %> Bathrooms</p>
    <p><%= @property.parking_space %> Parking Spaces</p>
    <%if @property.sea_view == true %>
      <p>Sea view</p>
    <% end %>
    <%if @property.pool == true %>
      <p>Pool</p>
    <% end %>
    <p class="fas fa-coins">  <%=@property.price %> MUR</p>
    <% if current_user == @property.owner %>
      <div class="card-edit">
        <% if policy(@property).destroy? %>
          <%= link_to '', @property, :class => "fas fa-trash-alt",  method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <% if policy(@property).edit? %>
          <%= link_to '', edit_property_path, class: "fas fa-pencil-alt" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="card-show" >
    <p><%= @property.description %></p>
  </div>
  <div id="map" class="card-map"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<div class="card-message">
  <% if current_user == @property.owner %>
    <%= link_to "Go to owner dashboard", dashboard_path, class:"btn btn-primary btn-lg" %>
  <% else %>
    <% if @message %>
      <%= link_to 'See messages with this owner', property_chat_room_path(@property, @message.chat_room),class:"btn btn-primary btn-lg" %>
    <% else %>
      <%= link_to 'Send a message to the owner', property_chat_rooms_path(@property),class:"btn btn-primary btn-lg", method: :post %>
    <% end %>
  <% end %>
</div>
<div class="container-slots">
  <% if current_user == @property.owner %>
    <% if policy(@slot).new? %>
      <%= link_to 'New Slot', new_property_slot_path(@property), class:"card-slot"%>
    <% end %>
  <% end %>
  <% @slots.each do |slot| %>
    <div class="card-slot">
      <p><%= slot.date.to_formatted_s(:day_date_comma_month)%></p>
      <i class="fas fa-at"></i>
      <p><%= slot.date.to_formatted_s(:time)%></p>
      <% if policy(slot).destroy? %>
        <%= link_to '', slot_path(slot), class:"fas fa-trash-alt", method: :delete %>
      <% end %>
      <%# if policy(@booking).create? %>
      <% if current_user != @property.owner %>
        <%= link_to "BOOK VISIT", property_bookings_path(@property, slot_id:slot.id), class:"btn btn-primary btn-sm m-2", method: :post %>
      <% end %>
    </div>
  <% end %>
</div>
</div>
