<h1>Your Property</h1>

<h2><%= @property.property_type %> - <%= @property.price %> - <%= @property.location %></h2>
  <p><%= @property.price %></p>
  <p><%= @property.living_space %></p>
  <p><%= @property.location %></p>
<br>

<% if policy(@slot).new? %>
  <%= link_to 'New Slot', new_property_slot_path(@property)  %>
<% end %>

<table>
  <tr>
    <th>Date</th>
    <th>Edit</th>
  </tr>
  <% @slots.each do |slot| %>
    <tr>
      <td><%= slot.date %></td>

      <% if policy(slot).destroy? %>
        <td><%= link_to 'Delete', slot_path(slot), method: :delete %></td>
      <% end %>

      <%# if policy(@booking).create? %>
      <td><%= link_to "BOOK VISIT", property_bookings_path(@property, slot_id:slot.id), method: :post %></td>
      <%# end %>
    </tr>
  <% end %>
</table>

<br>
<%= link_to 'New', new_property_path %> |

<% if policy(@property).edit? %>
  <%= link_to 'Edit', edit_property_path %> |
<% end %>

<% if policy(@property).destroy? %>
  <%= link_to 'Delete', @property,  method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back', properties_path %>

<br>

<% if current_user == @property.owner %>
  <%= link_to "Open chatroom" %>
<% else %>
  <% if @message %>
  <%= link_to 'See messages with this owner', property_chat_room_path(@property, @message.chat_room) %>
  <% else %>
  <%= link_to 'Send a message to the owner', property_chat_rooms_path(@property), method: :post %>
  <% end %>
<% end %>
