<div class="container-dashboard">
  <div class="container-welcome-4cards">
    <div class="container-welcome">
      <h1>Welcome <strong><%= current_user.surname %>,</strong></h1>
      <p>Bienvenue sur ton dashboard, retrouve ici toutes les informations nécessaires à la gestion de ta propriété en vente ou de ta future propriété.</p>
    </div>

    <div class="grid-container-4cards">
      <div class="grid-item"><h1><%= current_user.properties.count %></h1>&#160;<p>propert<%= current_user.properties.count>1 ? "ies" : "y" %></p></div>
      <div class="grid-item"><h1><%= current_user.slots.count %></h1>&#160;<p>slot<%= current_user.slots.count>1 ? "s" : "" %></div>
      <div class="grid-item"><h1><%= current_user.chat_rooms.count %></h1>&#160;<p>message<%= current_user.chat_rooms.count>1 ? "s" : "" %></div>
      <div class="grid-item"><h1><%= current_user.bookings.count %></h1>&#160;<p>booking<%= current_user.bookings.count>1 ? "s" : "" %></div>
    </div>
  </div>
</div>


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
</div>

