<div class="container-dashboard">
  <div class="container-welcome-4cards">
    <div class="container-welcome">
      <h1>Welcome <strong><%= current_user.surname %>,</strong></h1>
      <p>Bienvenue sur ton dashboard, retrouve ici toutes les informations nécessaires à la gestion de ta propriété en vente ou de ta future propriété.</p>
    </div>

    <div class="grid-container-4cards">
      <div class="grid-item"><h1><%= current_user.properties.count %></h1>&#160;<p>propert<%= current_user.properties.count>1 ? "ies" : "y" %></p></div>
      <div class="grid-item"><h1><%= current_user.slots.count %></h1>&#160;<p>slot<%= current_user.slots.count>1 ? "s" : "" %></div>
      <div class="grid-item"><h1><%= current_user.chat_rooms.count %></h1>&#160;<p>message<%= current_user.chat_rooms.count>1 ? "s" : "" %></div>
      <div class="grid-item"><h1><%= current_user.bookings.count %></h1>&#160;<p>booking<%= current_user.bookings.count>1 ? "s" : "" %></div>
    </div>
  </div>
</div>

<div class="container-modal">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Messages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Properties</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Slots</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Visits</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
    <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
  </div>
</div>
