
<div class="homepage-container">
  <div class="homepage-search-section">
    <div>
      <h1 class="title-homepage">Find your dream house</h1>
      <h1 class="title-homepage highlight">without commission</h1>
      <h2>Type your city and fulfil your wishes!</h2>
      <input name class="homepage-search-bar" placeholder=" ðŸ“ Type a city">
      <br><br>
      <button class="search-button-bar" type="submit">Search</button>
    </div>

    <div class="map-container">
      <div id="map"
        style="width: 200; height: 600px; border-radius: 30px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

  <div id="homepage-info-section">
    <div id="homepage-info-text">
      <div id="info-text">
        <h2>The perfect platform for your projects</h2>
        With Corail, you can enjoy a free platform to find your future house without any commissions on the sale. Say bye to all real estate agencies that take 15% of commission on your house by directly dealing with the owner of your future house.
        Coral reef is a unique environment for fishes: Corail gives you a unique environment to sell and buy your properties in the best way.
        <br><br>
        Thanks to the reservation and messages system, you can adapt your need to your obligations.
        <br><br>
        <%= link_to 'What are you waiting for ? Sell your property', new_property_path, class:"search-button-info" %>
      </div>
      <%= image_tag "handshake.svg", alt: "handshake", style: "height:250px"%>
    </div>
  </div>

  <div class="homepage-property-section">
    <h1 class="title-homepage">New Releases:</h1>

    <div class="homepage-property-photos">

      <% @properties.last(3).each do |property| %>
        <div class="homepage-cards">
          <%= image_tag "villa.jpeg", alt: "villa", style: "width:100%" %>
          <a class="homepage-property-card" href=<%= property_path(property.id) %>>
            <div><%= property.property_type %> - <%= property.price %></div>
            <p><%= property.address %></p>
          </a>
          <%# cl_image_tag(property.photos.first.key, :width => 300, :height => 200, :crop => :fill)%>
        </div>
      <% end %>
    </div>

    <%= link_to "See all properties", properties_path %>
  </div>

</div>
