
<div class="homepage-container">
  <div class="homepage-search-section">
    <div>
      <h1 class="title-homepage">Find your dream house</h1>
      <h1 class="title-homepage highlight">without commission</h1>
      <br><br>
      <h2>Type your city and fulfil your wishes!</h2>
      <%= form_tag properties_path, method: :get do %>
        <%= text_field_tag :city,
          params[:city],
          class:"form-box-homepage",
          placeholder: " ðŸ“ Type a city"
        %>
        <%= submit_tag "Search", class: "search-button-info button-small" %>
      <% end %>
    </div>

    <div class="map-container">
      <div id="map"
        style="width: 200; height: 600px; border-radius: 30px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

  <div id="homepage-info-section">
    <div id="homepage-info-text">
      <div id="info-text">
        <h1><strong>The perfect platform for your projects</strong></h1>
        With Corail, you can enjoy a free platform to find your future house without any commissions on the sale. Say bye to all real estate agencies that take 15% of commission on your house by directly dealing with the owner of your future house.
        Coral reef is a unique environment for fishes: Corail gives you a unique environment to sell and buy your properties in the best way.
        <br><br>
        <%= link_to 'What are you waiting for ? Sell your property', new_property_path, class:"search-button-info" %>
      </div>
      <%= image_tag "handshake.svg", alt: "handshake", style: "height:250px"%>
    </div>
  </div>

  <div class="homepage-property-section">
    <h1 class="title-homepage">New Releases:</h1>

    <div class="cards">
      <% @properties.last(3).each do |property| %>
        <div class="property-card">
          <a href="<%= property_path(property.id) %>">
            <%= cl_image_tag(property.photos.first.key, class:"property-cards-photos")%>
            <div class="property-card-text">
              <% case property.property_type %>
              <% when "Villa" %>
              <div class="property-type-tag-villa"><%= property.property_type %></div>
              <% when "House" %>
              <div class="property-type-tag-house"><%= property.property_type %></div>
              <% when "Bungalow" %>
              <div class="property-type-tag-bungalow"><%= property.property_type %></div>
              <% when "Flat" %>
              <div class="property-type-tag-flat"><%= property.property_type %></div>
              <% end %>
              <div class="price-tag"><i class="fas fa-coins"></i>&#160;&#160;<%= number_with_delimiter(property.price, :delimiter => ',') %>MUR</div>
              <div class="location-tag"><i class="fas fa-map-marker"></i>&#160;&#160;<%= property.address %></div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to 'See all properties', properties_path, class:"search-button-info" %>
    </div>
  </div>

  <div id="homepage-info-section">
    <div id="homepage-info-text">
      <div id="info-text">
        <h1><strong>A platform that fits your needs</strong></h1>
        - Fix your own slots of availability
        <br>
        - Receive direct bookings of visits on your slots
        <br>
        - Discuss with your potentiel buyer directly on the app
        <br><br>
        <%= link_to 'Start Now!', new_property_path, class:"search-button-info" %>
      </div>
      <%= image_tag "handshake.svg", alt: "handshake", style: "height:250px"%>
    </div>
  </div>
</div>
